body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #dfdfdf;
  font-family: 'Montserrat', sans-serif;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-header {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.app-header h1 {
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: rgb(0, 120, 212);
  letter-spacing: 5px;
}

.app-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.app-header ul li {
  list-style: none;
  margin-left: 20px;
}

.app-header ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: block;
  border: 1px solid rgb(0, 120, 212);
  padding: 10px 10px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s;
}

.app-header ul li a:hover {
  background: #dfdfdf;
}


.app-header ul li a.active {
  background: #dfdfdf;
}

.app-body {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-body .no-posts {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  width: 90%;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  color: rgb(0, 120, 212);
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 45px;
}

.post-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.post-list .post-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 15px;
}

.post-list .post-actions .order-selects {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.post-list .post-actions .order-selects select {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  border-bottom: 2px solid rgb(0, 120, 212);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: #dfdfdf;
  outline: none;
  color: rgb(0, 120, 212);
  font-family: 'Montserrat', sans-serif;
}

.post-list .post-actions .order-selects .order-by {
  margin-right: 10px;
}

.post {
  position: relative;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 90%;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.post .post-header {
  box-sizing: border-box;
  padding: 10px 5px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.post .post-header a {
  text-decoration: none;
}

.post .post-header h2 {
  font-weight: 600;
  color: rgb(0, 120, 212);
  font-size: 21px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1.5px;
  margin: 0;
}

.post .post-body {
  box-sizing: border-box;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}

.post .post-body p {
  font-size: 18px;
  margin: 5px 0;
}

.post .post-body .post-category {
  display: inline-block;
  max-width: 100px;
  text-align: center;
  color: #fff;
  height: 20px;
  font-size: 15px;
  margin-bottom: 5px;
  background: rgb(0, 120, 212);
  box-sizing: border-box;
  border-radius: 3px;
}

.post .post-footer {
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.post .post-footer div {
  display: flex;
  justify-content: space-between;
}

.post .post-footer .comments {
  width: 50px;
}

.post .post-footer .comments a {
  text-decoration: none;
}

.post .post-footer .comments svg {
  height: 1.6em;
  width: 1.6em;
  stroke: rgb(0, 120, 212);
}

.post .post-footer .comments .count {
  position: relative;
  right: 15px;
  bottom: 15px;
  background: #eb191e;
  font-size: 11px;
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
}

.post .post-footer .votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .post-footer .votes span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
}

.post .post-footer .votes svg {
  width: 1.5em;
  height: 1.5em;
  stroke: rgb(0, 120, 212);
}

.post .post-footer .author {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.post .post-footer .author svg {
  stroke: rgb(0, 120, 212);
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}

.comment {
  position: relative;
  box-sizing: border-box;
  padding-right: 10px;
  width: 90%;
  background: #fff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}


.comment .comment-devider {
  width: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment .comment-devider .line {
  width: 5px;
  background: rgb(0, 120, 212);
  height: 100%;
  border-radius: 5px 0 0 5px; 
}

.comment .comment-info {
  width: 95%;
  box-sizing: border-box;
  padding: 5px 0;
}

.comment .comment-info .comment-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
}

.comment .comment-info .comment-author svg {
  stroke: rgb(0, 120, 212);
  width: 1.5em;
  height: 1.5em;
}

.comment .comment-info .comment-body {
  font-size: 15px;
  padding: 5px 0;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 5px;
}

.comment .comment-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment .comment-footer span {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 700;
}

.comment .comment-footer svg {
  height: 1.5em;
  width: 1.5em;
  stroke: rgb(0, 120, 212);
}

.wrapper {
  max-width: 85%;
  min-width: 85%;
}

@media screen and (max-width: 450px) {
  .wrapper {
    max-width: 90%;
    min-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 85%;
    min-width: 85%;
  }
}
